<%= form_with(model: example, local: true, multipart: true) do |form| %>
  <% if example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
      <% example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="text-center">Editing Example</h1>
  <div class="row">
    <div class="col-6 col-md-6">
        <%= form.label :purchaser_name %>
        <%= form.text_field :purchaser_name , class: "form-control" %>
    </div>
    <div class="col-6 col-md-6">
      <%= form.label :item_description %>
      <%= form.text_field :item_description, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-md-6">
      <%= form.label :item_price %>
      <%= form.text_field :item_price, class: "form-control" %>
    </div>
    <div class="col-6 col-md-6">
      <%= form.label :purchase_count %>
      <%= form.text_field :purchase_count, class: "form-control"  %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-md-6">
      <%= form.label :merchant_address %>
      <%= form.text_field :merchant_address , class: "form-control" %>
    </div>
    <div class="col-6 col-md-6">
      <%= form.label :merchant_name %>
      <%= form.text_field :merchant_name, class: "form-control" %>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-6 col-md-6">
      <%= link_to 'Back', examples_path, class: "btn btn-warning", style: 'margin-left: 90%;' %>
    </div>
    <div class="col-6 col-md-6">
      <%= form.submit "Update", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
