<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaser name:</strong>
  <%= @example.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @example.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @example.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @example.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @example.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @example.merchant_name %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
