<!DOCTYPE html>
<html>
  <head>
    <title>Upload File Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="https://github.com/matiasarenhard/upload_file_rails5.2">Matias Arenhard <i class="fa fa-github"></i> </a>
        </div>
    </nav>
  </head>
  <body class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
